<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons end>
        <button ion-button (click)="onOpenMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons>
   
    <ion-title>Home</ion-title>
  
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button *ngIf="!mySharedPosistion.isShared" ion-button block (click)="shareParking()">cedi Posto</button>

<ion-card *ngIf="mySharedPosistion.isShared" >
    <ion-card-header>
       <h2>Posizione Condivisa</h2>
    </ion-card-header>
    <ion-card-content>
      <p>{{mySharedPosistion.Citta}} via: {{mySharedPosistion.Via}} </p>
      <ion-item padding>
          <button ion-button color="danger" item-right (click)="deleteMyParking()" icon-start>
              <ion-icon name='close'></ion-icon>
              Elimina
            </button>
        </ion-item>
      <br>
<div *ngIf="mySharedPosistion.isReserved">
  <h3>Prenotato da <b>{{mySharedPosistion.username}}</b></h3>
   <p>Auto: {{mySharedPosistion.auto.carBrend}} {{mySharedPosistion.auto.carModel}} </p>
   <p>Colore: {{mySharedPosistion.auto.carColor}} </p>
   <p>Targa: {{mySharedPosistion.auto.numberPlate}} </p>
</div>

    </ion-card-content>
   
  </ion-card>

  <br>
  <button ion-button block (click)="goFindParkingPage()">Trova posto</button>
  

<br />
<br />

        <p>
          {{_data}}
        </p>
</ion-content>
